

$green-200-color: #a4ffaf;
$grey-950-color: #08070b;
$grey-900-color: #14131b;
$grey-850-color: #18171f;
$grey-800-color: #24232c;
$grey-700-color: #54535b;
$grey-600-color: #817d92; 
$grey-200-color: #e6e5ea;
$grey-50-color: #f3f9fa; 
$orange-400-color: #fb7c58;
$red-500-color: #f64a4a;
$white-color: #ffffff; 
$black-color: #000000;

$text-1: 3.2rem;
$text-2: 2.4rem;
$text-3: 2rem;
$text-4: 1.6rem;
$text-5: 1.3rem;
$text-7: 4.8rem;
$text-6: 4rem;

$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-2300: 18.4rem;
$space-2200: 17.6rem;
$space-2000: 16rem;
$space-1600: 12.8rem;
$space-1300: 10.4rem;
$space-1200: 9.6rem;
$space-1000: 8rem;
$space-900: 7.2rem;
$space-800: 6.4rem;
$space-700: 5.6rem;
$space-600: 4.8rem;
$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-100: .8rem;
$space-50: .4rem;



