

$green-200-color: #a4ffaf; //#006A24
$grey-950-color: #08070b;
$grey-900-color: #14131b;
$grey-850-color: #18171f;
$grey-800-color: #24232c;
$grey-700-color: #54535b;
$grey-600-color: #817d92; 
$grey-200-color: #e6e5ea;
$grey-50-color: #f3f9fa; 
$orange-400-color: #fb7c58;
$red-500-color: #f64a4a;
$white-color: #ffffff; 
$black-color: #000000;

$text-1: 2rem; // 32px
$text-2: 1.5rem; // 24px
$text-3: 1.25rem; //20px
$text-4: 1rem; //16px
$text-5: 1.125rem; // 18px
$text-7: 3rem; // 48px
$text-6: 2.5rem;

$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-2300: 11.5rem; //184px
$space-2200: 11rem; // 176px
$space-2000: 10rem; // 160px
$space-1600: 8rem; // 128px
$space-1300: 6.5rem; // 104px
$space-1200: 6rem; // 96px
$space-1000: 5rem; // 80px
$space-900: 4.5rem; // 72px
$space-800: 4rem; // 64px
$space-700: 3.5rem; // 56px
$space-600: 3rem; // 48px
$space-500: 2.5rem; // 40px
$space-400: 2rem; // 32px
$space-300: 1.5rem; // 24px
$space-250: 1.125rem;//18px 
$space-200: 1rem;  // 16px
$space-100: .5rem; // 8px
$space-50: .25rem; // 4px -- 
// 0.625rem = 10px
// 1.125rem = 18px
// 0.75rem = 12px
// 0.188rem  = 3PX
// 0.125rem  = 2px 
// 0.063rem  = 1PX
// 0.056rem  = 0.9px
// 0.044rem  = 0.7PX
// 0.031rem  = .5px -- 0.025-0.4px  -- .019-3px -- 0.013-2px -- 0.006-1px




