@use './reset';
@use './variables' as *;
@use './mixin' as *;
@use './font-face' as *;
@use 'sass:string';

@include fontFace('jetbrains', '../fonts/JetBrainsMono-VariableFont_wght.ttf', 400 700);

:root {
  --colorRange: 10;
  --green-200: #a4ffaf;
  --grey-850: #17181f; 
  --track-position: 50%;
}

body {
  font-size: 1rem;
  font-family: jetbrains;
  background-color: $grey-950-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}

layout__passwd {
  height: 6.25rem; //  100px
}

.passwd__title {
  color: $grey-600-color;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.layout__generator {
  width: 100%;
  display: grid;
  gap: 2rem; //32px
  background-color: $grey-800-color;
  padding: 1rem;
}

.generator__copied {
  width: 100%;
  background-color: $grey-800-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.generator__title {
  color: $grey-700-color;
  font-size: 1.5rem; //24px
}

.copied__clip {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.copy__clip {
  background-color: transparent;
}

.copied__title {
  opacity: 0;
  font-size: $text-5;
  color: $green-200-color;
  text-transform: uppercase;
}

@keyframes copiedClick {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}

.copied__title--click {
  animation: copiedClick 3s ease-in-out; 
}

.copied__image {
  color: $white-color;
    transition: all 2s ease-out;
  &:hover {
    color: $green-200-color;
  }
  &:focus {
    color: $green-200-color;
  }
}

.copied__clipboard {
  color: $green-200-color;
}

.generator__bar {
  display: grid; 
  max-width: 100%;
  margin-bottom: .5rem; //8px
  position: relative;
}

.generator__length {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem; //8px
}

.length__title {
  color: $white-color;
  font-size: 1rem;
  font-weight: 700;
}

.length__number {
  color: $green-200-color;
  font-size: 1.5rem; //24px
}

.bar__range {
    -webkit-appearance: none;
    width: 100%;
    height: .5rem;
    border-radius: 0.5em;
    background:linear-gradient(90deg, #a4ffaf var(--track-position), transparent 0);
    box-shadow: .0px 2.5px 5px 2px rgba(0, 0, 0, .6) inset , 0 0 1px #0d0d0d; 
    border: .3 solid $grey-950-color;
    cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.75rem;
    width: 1.75rem;
    background-color: #fff !important;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, .7 ), 0 0 1px #0d0d0d, 1px 1px 10px 5px rgba(0,0,0, .5) inset;
    border-radius: 50%;
    border: .1rem solid #000;
    cursor: pointer;
    }
  &::-webkit-slider-thumb:hover {
    background-color: $grey-950-color !important;
    box-shadow:  1px 1px 5px 5px rgba(255,255,255, .1) inset;
    border: 2px solid $green-200-color;
  }
  &::-webkit-slider-thumb:focus {
    background-color: $grey-950-color !important;
    box-shadow:  1px 1px 5px 5px rgba(255,255,255, .1) inset;
    border: 2px solid $green-200-color;
  }
  &::-moz-range-thumb {
    height: 1.75rem;
    width: 1.75rem;
    background-color: #fff !important;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, .7 ), 0 0 1px #0d0d0d, 1px 1px 10px 5px rgba(0,0,0, .5) inset;
    cursor: pointer;
    }
  &::-moz-range-thumb:hover {
    background-color: $grey-950-color !important;
    box-shadow:  1px 1px 5px 5px rgba(255,255,255, .1) inset;
    border: 2px solid $green-200-color;
  }
  &::-moz-range-thumb:focus {
    background-color: $grey-950-color !important;
    box-shadow:  1px 1px 5px 5px rgba(255,255,255, .1) inset;
    border: 2px solid $green-200-color;
  }
}

.generator__include {
  color: $white-color;
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  align-items: flex-start;
  gap: 1rem;
}

.include__item {
  display: flex;
  gap: 1rem;
}

.item__label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.item__boxs {
  display: none;
}

.item__checkbox {
  width: 1.25rem; //20px
  height: 1.25rem; //20px
  border: 2px solid $white-color;
  border-radius: .2rem;
  display: grid;
  justify-items: center; 
  align-items: center;
  transition: box-shadow .4s ease-in-out;
}

.item__icon {
  display: none;
}

.item__boxs:checked + .item__checkbox {
  border: none;
  box-shadow: inset 0 0 0 20px $green-200-color;
}

.item__boxs:checked + .item__checkbox .item__icon {
  display: block !important;
  /* transition: all .4s ease; */
}

.generator__strength {
  background-color: $grey-850-color;
  color: $grey-600-color;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.875rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strength__bars {
  display: flex;
  gap: .5rem; //8px
}

.bars__title {
  opacity: 0;
  text-transform: uppercase;
  font-size: $text-5;
  font-weight: 700;
  color: $white-color;
  margin-right: 1rem;
}

.bars__title--active {
  opacity: 1;
  transition: opacity .4 ease;
}

.bars__item {
  width: 0.625rem; //10PX
  height: 1.75rem; //28px
  border: 2px solid $white-color;
}



.bars__item--tooweek {
  background-color: $red-500-color;
  border: 2px solid $red-500-color;
  transition: all 1s ease;
}

.bars__item--week {
  background-color: $orange-400-color;
  border: 2px solid $orange-400-color;
  transition: all 1s ease;
}

.bars__item--medium {
  background-color: $yellow-300-color;
  border: 2px solid $yellow-300-color;
  transition: all 1s ease;
}

.bars__item--strong {
  background-color: $green-300-color;
  border: 2px solid $green-300-color;
  transition: all 1s ease;
}


.button__generate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: $grey-950-color;
  background-color: $green-200-color;
  border: 2px solid transparent;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -1rem;
  &:hover {
    cursor: pointer;
    color: $green-200-color;
    background-color: $grey-800-color;
    border: 2px solid $green-200-color;
  }
  &:focus {
    cursor: pointer;
    color: $green-200-color;
    background-color: $grey-800-color;
    border: 2px solid $green-200-color;
  }
}

.generate__icon {
  color: $grey-950-color;
  &:hover {
    color: $green-200-color;
  }
  &:focus {
    color: $green-200-color;
  }
}

@media (min-width:600px) {
    
  .passwd__title {
    font-size: $space-300;
  }
  .generator__copied {
    max-width: 33.75rem;
    padding: 2rem;
  }
  .generator__title {
    font-size: $space-400;
  }
  .generator__copy {
    width: 1.313rem;
    height: 1.5rem;
  }
  .layout__generator {
    max-width: 33.75rem;
    padding: $space-300 $space-400;
  }
  .length__title {
    font-size: $space-250;
  }
  .length__number {
    font-size: $space-400;
  }
  .item__label {
    font-size: $space-250;
  }
  .generator__strength {
    padding: $space-300 $space-400;
  }
  .button__generate {
    margin: 0;
    font-size: $text-5;
  }
  .bars__title {
    font-size: $text-2;
  }
}

@media (max-width:350px) {
  .passwd__title {
    font-size: clamp(0.75rem, -0.25rem + 5.714vw, 1rem);
  }  
  .generator__title {
    font-size: clamp(1.1rem, -0.5rem + 9.143vw, 1.5rem);
  }
  .copied__image {
    width: 1.125;
    height: 1.225;
  }
  .copied__title {
    font-size: .725rem;
  }
  .length__title {
    font-size: .875rem;
  }
  .item__label {
    font-size: clamp(0.75rem, -0.25rem + 5.714vw, 1rem);
  }
  .strength__title {
    font-size: clamp(0.825rem, 0.125rem + 4vw, 1rem);
  }
  .bars__item {
    width: $space-100;
    height: $space-250;
  }
  .bars__title {
    font-size: clamp(0.725rem, -0.375rem + 6.286vw, 1rem);
    margin-right: .2rem;
  }
  .button__generate {
    padding: $space-100 0;
  }
}















